<footer class="footer bg-dark py-3 mt-auto" style="text-align: center;">
    <div class="container">
        <span class="text-muted" style="text-align: center;" >Healthmax</span>
    </div>
</footer>


